
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Tracer</h1>
        <p class="lead">Tracer Route(路由跟踪) 是一个简单的网络质量测试应用程序.</p>
        <p>从<code>@Context.Connection.RemoteIpAddress.ToString()</code><span class="badge badge-secondary ml-2" id="spanStatus">空闲访问</span></p>
        <p><button class="btn btn-success btn-lg mt-4" id="startAllButton" onclick="startAll()" role="button">开始全部测试</button></p>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">HTTP滞后</h5>
                    <p class="card-text">您的浏览器将向服务器发送一条简单的消息并得到一个简单的响应。这个数字表示从请求到响应的时间。这个数字越小，你的网络就越好。</p>
                    <div class="form">
                        <div class="form-group">
                            <label for="pinglagfilter">日志过滤器（ms）</label>
                            <input type="number" class="form-control" id="pinglagfilter" value="200">
                        </div>
                        <button class="btn btn-primary" id="pingbutton" onclick="ping()">开始测试</button>
                        <button class="btn btn-secondary" id="pingbutton" onclick="stopPing()">结束测试</button>
                    </div>
                    <p class="test-status"><pre id="httpStatus"></pre></p>
                    <p class="test-status"><code id="httpMax"></code></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">HTTP滞后</h5>
                    <canvas id="httpChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">下载速度</h5>
                    <p class="card-text">您的浏览器将从我们的服务器下载1MB文件。从它启动并获取文件时起，我们将帮助您计算网络下载速度。数字越大，你的网络就越好。</p>
                    <div class="form">
                        <div class="form-group">
                            <label for="speedlagfilter">日志筛选器（MB/s）</label>
                            <input type="number" class="form-control" id="speedlagfilter" value="0.7">
                        </div>
                        <button class="btn btn-primary" id="downloadbutton" onclick="download()">开始测试</button>
                        <button class="btn btn-secondary" id="pingbutton" onclick="stopDownload()">结束测试</button>
                    </div>
                    <p class="test-status"><pre id="downStatus"></pre></p>
                    <p class="test-status"><code id="downMax"></code></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">下载速度</h5>
                    <canvas id="downloadChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">WebSocket滞后</h5>
                    <p class="card-text">此数字表示当前服务器事件和上一个服务器事件之间的间隔时间。数字应接近100毫秒。超过120毫秒或小于90毫秒是不正确的。</p>
                    <div class="form">
                        <div class="form-group">
                            <label for="wslagfilter">日志过滤器（ms）</label>
                            <input type="number" class="form-control" id="wslagfilter" value="300">
                        </div>
                        <button class="btn btn-primary" id="wsbutton" onclick="WsTest()">开始测试</button>
                        <button class="btn btn-secondary" id="pingbutton" onclick="stopWsTest()">停止测试</button>
                    </div>
                    <p class="test-status"><pre id="wsStatus"></pre></p>
                    <p class="test-status"><code id="wsmax"></code></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card mb-2 tests-card h-100">
                <div class="card-body">
                    <h5 class="card-title">WebSocket滞后</h5>
                    <canvas id="wsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4" id="functions">
    <div class="row no-gutters">
        <div class="col-sm-12 px-1">
            <div class="card mb-2 tests-card">
                <div class="card-body">
                    <h5 class="card-title">错误请求日志</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm" id="logTable">
                            <tr>
                                <th>时间</th>
                                <th>触发</th>
                                <th>值</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>